
<h2>MANAGE BASIC INFO</h2>
<!--<div class="previewEntityContainer">
        <div id="courseBasicInfo" class="previewEntity">
            <span class="">Course Basic Info</span>
            <a href="#" class="pop-up-right"  ng-click="cancelAddChapter();$event.preventDefault();">Close</a>
            <div class="row"  style="width: 90%;overflow: auto;margin-left: 5%;position: relative;">
                <div class="tile p-15" ng-controller="eLearningApp.createProgramController">
                    <div class="">
                        <div class="col-lg-3">Title</div>
                        <div class="col-lg-3"><input type="text" name="tital" ng-model="tital" /></div>
                    </div>
                    <div class="">
                        <div class="col-lg-3">Type</div>
                        <div class="col-lg-3"><input type="text" name="type" ng-model="type" /></div>
                    </div>
                    <div class="">
                        <div class="col-lg-3">Url</div>
                        <div class="col-lg-3"><input type="text" name="chapterUrl" ng-model="chapterUrl" /></div>
                    </div>
                    <div><button ng-click="AddChapterFn(tital,type,chapterUrl,selectedProgramId)">submit</button></div>
                </div>
            </div>
        </div>
    </div>-->