 <div class="container" style="min-height: 400px;">
<div >
    <form role="form" id='signup'>
     <div  id="signupPage">
        <div class="show-grid" >
            <div class="span4">Name : </div>
            <div class="span4"><input type="text" ng-model="user_name"></div>
              <div class="show-grid">
             <div class="span4">Select image to upload : </div>
              <div class="span6">
             <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit"></div></div>
              <div class="show-grid">
            <div class="span4">Designation : </div>
            <div class="span4"><input type="text" ng-model="user_designation"></div></div>
            <div class="show-grid">
            <div class="span4">Organization : </div>
            <div class="span4"><input type="text" ng-model="user_organization"></div></div>
            <div class="show-grid">
            <div class="span4">City : </div>
            <div class="span4"><input type="text" ng-model="user_city"></div></div>
            <div class="show-grid">
            <div class="span4">Country : </div>
            <div class="span4"><input type="text" ng-model="user_country"></div></div>
            <div class="show-grid">
            <div class="span4">Phone : </div>
            <div class="span4"><input type="tel" ng-model="user_phone"></div></div>
            <div class="show-grid">
            <div class="span4">Business Email : </div>
            <div class="span4"><input type="email" ng-model="user_phone"></div></div>
             <div class="show-grid">
            <div class="span4">Google ID : </div>
            <input type="text" ng-model="google_id">
            </div>
        </div>        
    </form>     `
</div>
</div>
