<!--<div><b>You have login successfully.</b></div><br>
<table>
    <thead><tr><th>User Profile<th><th><th></tr></thead>
    <tr><td>First Name : <td><td>{{first_name}}<td></tr>
    <tr><td>Last Name : <td><td>{{last_name}}<td></tr>
    <tr><td>Email ID : <td><td>{{user_id}}<td></tr>
    <tr><td>Accesss Type : <td><td>{{access_type}}<td></tr>
    <tr><td>Source : <td><td>{{source}}<td></tr>
</table>-->

<div><h2>Enrolled Programs</h2></div>
<div id="enrolled_program_list">
    <ul ng-repeat="program in enrolled_program_list">
        <li><b>{{program.program_name}}</b></li>
        <ul ng-repeat="chapter in program.chapters">
            <li>{{chapter.name}} : <a href={{chapter.content}} target="_blank">{{chapter.content}}</a></li>
        </ul>
    </ul>
</div>
<!--<a href="logout" type="button">Log out</a>-->
