<!--<div><b>You have login successfully.</b></div><br>
<table>
    <thead><tr><th>User Profile<th><th><th></tr></thead>
    <tr><td>First Name : <td><td>{{first_name}}<td></tr>
    <tr><td>Last Name : <td><td>{{last_name}}<td></tr>
    <tr><td>Email ID : <td><td>{{user_id}}<td></tr>
    <tr><td>Accesss Type : <td><td>{{access_type}}<td></tr>
    <tr><td>Source : <td><td>{{source}}<td></tr>
</table>-->
 <div class="container" style="min-height: 400px;">
<div><h2>Enrolled Programs</h2></div>
<!--<iframe width="420" height="315"
        src="https://www.youtube.com/embed/cTLU4BbYLUE">
</iframe>-->
<div id="enrolled_program_list">
    <ul ng-repeat="program in enrolled_program_list track by $index">
        <li><b>{{program.program_name}}</b></li>
        <ul ng-repeat="course in program.chapters track by $index">
            <div id='{{"id_"+$index+"_"+$parent.$index}}'></div>
<!--            <li>{{course.name}} : {{course.content}}
                <iframe width="420" height="315" src="{{course.content}}">
                </iframe>
            </li>-->
        </ul>
        
            <!--<iframe ng-repeat="course in program.courses" ng-src="{{course.content}}" />-->
            
    </ul>
</div>
</div>
<!--<a href="logout" type="button">Log out</a>-->
