<!--<div><b>You have login successfully.</b></div><br>
--><table>
    <thead><tr><th>User Profile<th><th><th></tr></thead>
    <tr><td>Name : <td><td>{{name}}<td></tr>
    <tr><td>Designation : <td><td>{{designation}}<td></tr>
    <tr><td>Organization : <td><td>{{organization}}<td></tr>
    <tr><td>Phone : <td><td>{{phone}}<td></tr>
    <tr><td>Business Email : <td><td>{{business_email}}<td></tr>
    <tr><td>City : <td><td>{{city}}<td></tr>
    <tr><td>Country : <td><td>{{country}}<td></tr>
</table>
 <div class="container" style="min-height: 400px;">
<div><h2>Enrolled Programs</h2></div>
<!--<iframe width="420" height="315"
        src="https://www.youtube.com/embed/cTLU4BbYLUE">
</iframe>-->
<div id="enrolled_program_list">
    <table>
        <tr>
            <th>Program Name</th>
            <th>Category</th>
            <th>Content</th>
            <th>Duration</th>
            <th>Cost</th>
        </tr>
    <!--<div ng-repeat="program in enrolled_program_list">-->
        <tr ng-repeat="program in enrolled_program_list">
            <td>{{program.program_name}}</td>
            <td>{{program.category}}</td>
            <td>{{program.content}}</td>
            <td>{{program.duration}}</td>
            <td>{{program.cost}}</td>
        </tr>            
    <!--</div>-->
    </table>
</div>
<!--<div id="enrolled_program_list">
    <ul ng-repeat="program in enrolled_program_list track by $index">
        <li><b>{{program.program_name}}</b></li>
        <ul ng-repeat="course in program.chapters track by $index">
            <div id='{{"id_"+$index+"_"+$parent.$index}}'></div>
            <li>{{course.name}} : {{course.content}}
                <iframe width="420" height="315" src="{{course.content}}">
                </iframe>
            </li>
        </ul>
        
            <iframe ng-repeat="course in program.courses" ng-src="{{course.content}}" />
            
    </ul>
</div>-->
</div>
